<div class="container-xxl flex-grow-1 container-p-y">
    <h3 class="fw-bold text-white mb-4">General Settings</h3>
    <% if (query.success==='true' ) { %>
        <div class="alert alert-success">Settings saved successfully!</div>
        <% } else if (query.error==='true' ) { %>
            <div class="alert alert-danger">Failed to save settings.</div>
            <% } %>

                <form action="/dashboard/<%= guild.id %>/settings" method="POST">
                    <div class="card glass-effect mb-4">
                        <div class="card-body p-4">
                            <div class="row g-4">
                                <!-- <div class="col-12 col-md-6">
                                    <label for="lang" class="form-label">Bot Language</label>
                                    <select class="form-select select2" id="lang" name="lang">
                                        <option value="id" <%=settings.lang==='id' ? 'selected' : '' %>>Bahasa Indonesia
                                        </option>
                                        <option value="en" <%=settings.lang==='en' ? 'selected' : '' %>>English</option>
                                    </select>
                                </div> -->

                                <div class="col-12 col-md-6">
                                    <label for="modLogChannelId" class="form-label">Channel Log Moderation</label>
                                    <select class="form-select select2" id="modLogChannelId" name="modLogChannelId">
                                        <option value="">Not Configured</option>
                                        <% channels.text.forEach(channel=> { %>
                                            <option value="<%= channel.id %>" <%=settings.modLogChannelId===channel.id
                                                ? 'selected' : '' %>>
                                                #<%= channel.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <!-- <div class="col-md-6">
                                    <label for="select-admins" class="form-label">Bot Admins</label>
                                    <div class="select2-primary">
                                        <select id="select-admins" name="admins" class="w-100 select2 form-select"
                                            multiple="">
                                            <% roles.forEach(role=> { %>
                                                <option value="<%= role.id %>" <%=Array.isArray(settings.admins) &&
                                                    settings.admins.includes(role.id) ? 'selected' : '' %>>
                                                    <%= role.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <small class="form-text text-white-50">Bot will not receive XP or
                                        run automod in this channel.</small>
                                </div> -->
                                <div class="col-md-6">
                                    <label for="select-ignore" class="form-label">Ignored Automod Channel</label>
                                    <div class="select2-primary">
                                        <select id="select-ignore" name="ignoredChannels"
                                            class="w-100 select2 form-select" multiple="">
                                            <% channels.text.forEach(channel=> { %>
                                                <option value="<%= channel.id %>"
                                                    <%=Array.isArray(settings.ignoredChannels) &&
                                                    settings.ignoredChannels.includes(channel.id) ? 'selected' : '' %>>
                                                    #<%= channel.name %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                    <small class="form-text text-white-50">Bot will not receive XP or
                                        run automod in this channel.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary px-4">Save Changes</button>
                    </div>
                </form>
</div>